In [1]:
import pandas as pd
import numpy as np

DF = pd.read_excel(r"C:\Users\jinchanglong\Desktop\10.LAMI.xlsx")
df = pd.read_excel(r"C:\Users\jinchanglong\Desktop\16.STK_l.xlsx")

display(DF)
print("----------------------------------------------------------------------------------------------------------------------------------------------------")
display(df)

,LOT_ID,CELL_ID,CELL_TYPE,EQUIPMENT_NAME,PRODUCT_NAME,PROJECT_NAME,INSP_ITEM_CODE,INSP_ITEM_NAME,INSP_ITEM_VALUE,INSP_ITEM_SEQ,INSP_ITEM_UNIT
0,UTIJX1LHC2,AAJF0390zz,Half Cell,ESS Lamination Half 1,HALF-Type Cell,E63F,SPCLM00011,"Vision 1 Result(0:OK, 1:NG_M, 2:NG_T, 3:NG_V)",0.00000,0,Num
1,UTIJX1LHC2,AAJF0390zz,Half Cell,ESS Lamination Half 1,HALF-Type Cell,E63F,SPCLM00038,Vision 1 TW_A,44.59200,0,mm
2,UTIK51LMC2,AAJH0412f5,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00002,Short 측정 전류값 2,0.00495,0,mA
3,UTIK51LMC2,AAJH0412f5,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00004,"Short 측정 전류 판정값 2(128:OK, 68:측정불가, 나머지:NG)",128.00000,0,Num
4,UTIK51LMC2,AAJH0412f5,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00006,VOLTAGE 2,49.99190,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
168,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00035,Vision 1 AC_A1,0.99100,0,mm
169,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00036,Vision 1 AC_A2,0.83500,0,mm
170,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00038,Vision 1 TWA,45.26700,0,mm
171,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00039,Vision 1 TWC,45.21800,0,mm
172,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00045,Vision 1 TPC,22.11300,0,mm

----------------------------------------------------------------------------------------------------------------------------------------------------

        CELL_ID LAMI_CELL_ID  SAF_INPUT_LAMI_SEQ
0    jAJL001444   AAJH0412eI                  31
1    jAJL001444   AAJH0412eI                  31
2    jAJL001444   AAJH0412eI                  31
3    jAJL001444   AAJH0412eI                  31
4    jAJL001444   AAJH0412eI                  31
..          ...          ...                 ...
987  jAJL001444   AAJH0412fI                   1
988  jAJL001444   AAJH0412fI                   1
989  jAJL001444   AAJH0412fI                   1
990  jAJL001444   AAJH0412fI                   1
991  jAJL001444   AAJH0412fI                   1

[992 rows x 3 columns]

###### 左右连接键名一样

In [5]:
df1 = pd.merge(df,DF)
display(df1)

Empty DataFrame
Columns: [CELL_ID, LAMI_CELL_ID, SAF_INPUT_LAMI_SEQ, LOT_ID, CELL_TYPE, EQUIPMENT_NAME, PRODUCT_NAME, PROJECT_NAME, INSP_ITEM_CODE, INSP_ITEM_NAME, INSP_ITEM_VALUE, INSP_ITEM_SEQ, INSP_ITEM_UNIT]
Index: []

In [10]:
df2 = pd.merge(df,DF , on = 'CELL_ID' , how = 'inner')    ### 以df，DF 中相同的列名CELL_ID进行连接，默认how = 'inner''
display(df2)

Empty DataFrame
Columns: [CELL_ID, LAMI_CELL_ID, SAF_INPUT_LAMI_SEQ, LOT_ID, CELL_TYPE, EQUIPMENT_NAME, PRODUCT_NAME, PROJECT_NAME, INSP_ITEM_CODE, INSP_ITEM_NAME, INSP_ITEM_VALUE, INSP_ITEM_SEQ, INSP_ITEM_UNIT]
Index: []

###### 全连接，取并集

In [11]:
df3 = pd.merge(df,DF,how = 'outer')
display(df3)

,CELL_ID,LAMI_CELL_ID,SAF_INPUT_LAMI_SEQ,LOT_ID,CELL_TYPE,EQUIPMENT_NAME,PRODUCT_NAME,PROJECT_NAME,INSP_ITEM_CODE,INSP_ITEM_NAME,INSP_ITEM_VALUE,INSP_ITEM_SEQ,INSP_ITEM_UNIT
0,jAJL001444,AAJH0412eI,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,jAJL001444,AAJH0412eI,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jAJL001444,AAJH0412eI,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,jAJL001444,AAJH0412eI,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,jAJL001444,AAJH0412eI,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,AAJH0412fI,NaN,NaN,UTIK51LMC2,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00035,Vision 1 AC_A1,0.991,0.0,mm
1161,AAJH0412fI,NaN,NaN,UTIK51LMC2,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00036,Vision 1 AC_A2,0.835,0.0,mm
1162,AAJH0412fI,NaN,NaN,UTIK51LMC2,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00038,Vision 1 TWA,45.267,0.0,mm
1163,AAJH0412fI,NaN,NaN,UTIK51LMC2,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00039,Vision 1 TWC,45.218,0.0,mm
1164,AAJH0412fI,NaN,NaN,UTIK51LMC2,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00045,Vision 1 TPC,22.113,0.0,mm

###### 左连接，左边取全部，右边取部分，没有值则用NaN填充

In [14]:
df4 = pd.merge(df,DF,how = 'left')
display(df4)

,CELL_ID,LAMI_CELL_ID,SAF_INPUT_LAMI_SEQ,LOT_ID,CELL_TYPE,EQUIPMENT_NAME,PRODUCT_NAME,PROJECT_NAME,INSP_ITEM_CODE,INSP_ITEM_NAME,INSP_ITEM_VALUE,INSP_ITEM_SEQ,INSP_ITEM_UNIT
0,jAJL001444,AAJH0412eI,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,jAJL001444,AAJH0412eI,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jAJL001444,AAJH0412eI,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,jAJL001444,AAJH0412eI,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,jAJL001444,AAJH0412eI,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,jAJL001444,AAJH0412fI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,jAJL001444,AAJH0412fI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,jAJL001444,AAJH0412fI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,jAJL001444,AAJH0412fI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,jAJL001444,AAJH0412fI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

######  右连接，右边取全部，左边取部分，没有值则用NaN填充

In [15]:
df5 = pd.merge(DF,df,how = 'right')
display(df5)

,LOT_ID,CELL_ID,CELL_TYPE,EQUIPMENT_NAME,PRODUCT_NAME,PROJECT_NAME,INSP_ITEM_CODE,INSP_ITEM_NAME,INSP_ITEM_VALUE,INSP_ITEM_SEQ,INSP_ITEM_UNIT,LAMI_CELL_ID,SAF_INPUT_LAMI_SEQ
0,NaN,jAJL001444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAJH0412eI,31
1,NaN,jAJL001444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAJH0412eI,31
2,NaN,jAJL001444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAJH0412eI,31
3,NaN,jAJL001444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAJH0412eI,31
4,NaN,jAJL001444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAJH0412eI,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,NaN,jAJL001444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAJH0412fI,1
988,NaN,jAJL001444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAJH0412fI,1
989,NaN,jAJL001444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAJH0412fI,1
990,NaN,jAJL001444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAJH0412fI,1
991,NaN,jAJL001444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AAJH0412fI,1

###### 左右连接的键名不一样

###### 内连接

In [18]:
df6 = pd.merge(df,DF,left_on = 'CELL_ID',right_on = 'LOT_ID', how = 'inner')
display(df6)

Empty DataFrame
Columns: [CELL_ID_x, LAMI_CELL_ID, SAF_INPUT_LAMI_SEQ, LOT_ID, CELL_ID_y, CELL_TYPE, EQUIPMENT_NAME, PRODUCT_NAME, PROJECT_NAME, INSP_ITEM_CODE, INSP_ITEM_NAME, INSP_ITEM_VALUE, INSP_ITEM_SEQ, INSP_ITEM_UNIT]
Index: []

###### 全连接

In [20]:
df7 = pd.merge(df,DF,left_on = 'CELL_ID',right_on = 'LOT_ID',how = 'outer')
display(df7)

,CELL_ID_x,LAMI_CELL_ID,SAF_INPUT_LAMI_SEQ,LOT_ID,CELL_ID_y,CELL_TYPE,EQUIPMENT_NAME,PRODUCT_NAME,PROJECT_NAME,INSP_ITEM_CODE,INSP_ITEM_NAME,INSP_ITEM_VALUE,INSP_ITEM_SEQ,INSP_ITEM_UNIT
0,jAJL001444,AAJH0412eI,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,jAJL001444,AAJH0412eI,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jAJL001444,AAJH0412eI,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,jAJL001444,AAJH0412eI,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,jAJL001444,AAJH0412eI,31.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1160,NaN,NaN,NaN,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00035,Vision 1 AC_A1,0.991,0.0,mm
1161,NaN,NaN,NaN,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00036,Vision 1 AC_A2,0.835,0.0,mm
1162,NaN,NaN,NaN,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00038,Vision 1 TWA,45.267,0.0,mm
1163,NaN,NaN,NaN,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00039,Vision 1 TWC,45.218,0.0,mm
1164,NaN,NaN,NaN,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00045,Vision 1 TPC,22.113,0.0,mm

###### 左连接

In [22]:
df8 = pd.merge(df,DF,left_on='CELL_ID',right_on='LOT_ID',how='left') 
display(df8)

,CELL_ID_x,LAMI_CELL_ID,SAF_INPUT_LAMI_SEQ,LOT_ID,CELL_ID_y,CELL_TYPE,EQUIPMENT_NAME,PRODUCT_NAME,PROJECT_NAME,INSP_ITEM_CODE,INSP_ITEM_NAME,INSP_ITEM_VALUE,INSP_ITEM_SEQ,INSP_ITEM_UNIT
0,jAJL001444,AAJH0412eI,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,jAJL001444,AAJH0412eI,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,jAJL001444,AAJH0412eI,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,jAJL001444,AAJH0412eI,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,jAJL001444,AAJH0412eI,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
987,jAJL001444,AAJH0412fI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,jAJL001444,AAJH0412fI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,jAJL001444,AAJH0412fI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,jAJL001444,AAJH0412fI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,jAJL001444,AAJH0412fI,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df9 = pd.merge(df,DF,left_on='CELL_ID',right_on='LOT_ID',how='right') 
display(df9)

,CELL_ID_x,LAMI_CELL_ID,SAF_INPUT_LAMI_SEQ,LOT_ID,CELL_ID_y,CELL_TYPE,EQUIPMENT_NAME,PRODUCT_NAME,PROJECT_NAME,INSP_ITEM_CODE,INSP_ITEM_NAME,INSP_ITEM_VALUE,INSP_ITEM_SEQ,INSP_ITEM_UNIT
0,NaN,NaN,NaN,UTIJX1LHC2,AAJF0390zz,Half Cell,ESS Lamination Half 1,HALF-Type Cell,E63F,SPCLM00011,"Vision 1 Result(0:OK, 1:NG_M, 2:NG_T, 3:NG_V)",0.00000,0,Num
1,NaN,NaN,NaN,UTIJX1LHC2,AAJF0390zz,Half Cell,ESS Lamination Half 1,HALF-Type Cell,E63F,SPCLM00038,Vision 1 TW_A,44.59200,0,mm
2,NaN,NaN,NaN,UTIK51LMC2,AAJH0412f5,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00002,Short 측정 전류값 2,0.00495,0,mA
3,NaN,NaN,NaN,UTIK51LMC2,AAJH0412f5,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00004,"Short 측정 전류 판정값 2(128:OK, 68:측정불가, 나머지:NG)",128.00000,0,Num
4,NaN,NaN,NaN,UTIK51LMC2,AAJH0412f5,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00006,VOLTAGE 2,49.99190,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,NaN,NaN,NaN,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00035,Vision 1 AC_A1,0.99100,0,mm
169,NaN,NaN,NaN,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00036,Vision 1 AC_A2,0.83500,0,mm
170,NaN,NaN,NaN,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00038,Vision 1 TWA,45.26700,0,mm
171,NaN,NaN,NaN,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00039,Vision 1 TWC,45.21800,0,mm
172,NaN,NaN,NaN,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00045,Vision 1 TPC,22.11300,0,mm

###### 索引作为连接键

In [31]:
df10 = pd.merge(df,DF,left_index = True ,right_index = True)
display(df10)

,CELL_ID_x,LAMI_CELL_ID,SAF_INPUT_LAMI_SEQ,LOT_ID,CELL_ID_y,CELL_TYPE,EQUIPMENT_NAME,PRODUCT_NAME,PROJECT_NAME,INSP_ITEM_CODE,INSP_ITEM_NAME,INSP_ITEM_VALUE,INSP_ITEM_SEQ,INSP_ITEM_UNIT
0,jAJL001444,AAJH0412eI,31,UTIJX1LHC2,AAJF0390zz,Half Cell,ESS Lamination Half 1,HALF-Type Cell,E63F,SPCLM00011,"Vision 1 Result(0:OK, 1:NG_M, 2:NG_T, 3:NG_V)",0.00000,0,Num
1,jAJL001444,AAJH0412eI,31,UTIJX1LHC2,AAJF0390zz,Half Cell,ESS Lamination Half 1,HALF-Type Cell,E63F,SPCLM00038,Vision 1 TW_A,44.59200,0,mm
2,jAJL001444,AAJH0412eI,31,UTIK51LMC2,AAJH0412f5,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00002,Short 측정 전류값 2,0.00495,0,mA
3,jAJL001444,AAJH0412eI,31,UTIK51LMC2,AAJH0412f5,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00004,"Short 측정 전류 판정값 2(128:OK, 68:측정불가, 나머지:NG)",128.00000,0,Num
4,jAJL001444,AAJH0412eI,31,UTIK51LMC2,AAJH0412f5,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00006,VOLTAGE 2,49.99190,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,jAJL001444,AAJH0412eT,26,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00035,Vision 1 AC_A1,0.99100,0,mm
169,jAJL001444,AAJH0412eT,26,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00036,Vision 1 AC_A2,0.83500,0,mm
170,jAJL001444,AAJH0412eT,26,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00038,Vision 1 TWA,45.26700,0,mm
171,jAJL001444,AAJH0412eT,26,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00039,Vision 1 TWC,45.21800,0,mm
172,jAJL001444,AAJH0412eT,26,UTIK51LMC2,AAJH0412fI,Mono Cell,Lamination 3-1,Mono-Type Cell,E63F,SPCLM00045,Vision 1 TPC,22.11300,0,mm