## merge

### merge 函数用途

pandas中的merge()函数类似于SQL中join的用法
可以将不同数据集依照某些字段(属性)进行合并操作,得到一个新的数据集

### merge函数的具体参数

用法：<br>
pd.merge(DataFrame1,DataFrame2, how=‘inner’, on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, 
suffixes=(‘_x’, ‘_y’))<br>
参数说明：<br>
how：默认为inner，可设为inner/outer/left/right<br>
on：根据某个字段进行连接，必须存在于两个DateFrame中（若未同时存在，则需要分别使用left_on和right_on来设置）<br>
left_on：左连接，以DataFrame1中用作连接键的列<br>
right_on：右连接，以DataFrame2中用作连接键的列<br>
left_index：将DataFrame1行索引用作连接键<br>
right_index：将DataFrame2行索引用作连接键<br>
sort：根据连接键对合并后的数据进行排列，默认为True<br>
suffixes：对两个数据集中出现的重复列，新数据集中加上后缀_x,_y进行区别<br>

### merge函数的应用

In [1]:
import pandas as pd
# 定义资料集并打印出来
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],'key2': ['K0', 'K1', 'K0', 'K1'],'A': ['A0', 'A1', 'A2', 'A3'],'B': ['B0', 'B1', 'B2', 'B3']})
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],'key2': ['K0', 'K0', 'K0', 'K0'],'C': ['C0', 'C1', 'C2', 'C3'],'D': ['D0', 'D1', 'D2', 'D3']})

print(left)
print('---------------------------')
print(right)

  key1 key2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3
---------------------------
  key1 key2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

#### 单个字段连接

In [2]:
# 根据key1 column 合并
res = pd.merge(left,right,on = 'key1')
print(res)

  key1 key2_x   A   B key2_y   C   D
0   K0     K0  A0  B0     K0  C0  D0
1   K0     K1  A1  B1     K0  C0  D0
2   K1     K0  A2  B2     K0  C1  D1
3   K1     K0  A2  B2     K0  C2  D2
4   K2     K1  A3  B3     K0  C3  D3

#### 多字段连接

In [3]:
# 依据key1和 key2 column进行合并

res = pd.merge(left, right, on=['key1', 'key2'], how='inner')
print(res)

print('---------------------------------------')

res = pd.merge(left, right, on=['key1', 'key2'], how='outer')
print(res)

print('---------------------------------------')

res = pd.merge(left, right, on=['key1', 'key2'], how='left') 
print(res)
# 以left为主进行合并print(res)res = pd.merge(left, right, on=['key1', 'key2'], how='right')
# 以right为主进行合并print(res)3.3.2 merge进阶应用

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2
---------------------------------------
  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3
---------------------------------------
  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

### indicator 设置合并列数据来源

In [4]:
# indicator 设置合并列数据来源
df1 = pd.DataFrame({'coll': [0, 1], 'col_left': ['a', 'b']})
df2 = pd.DataFrame({'coll': [1, 2, 2], 'col_right': [2, 2, 2]})
print(df1)
print('--------------------------------------------------')
print(df2)
# 依据coll进行合并，并启用indicator=True
# 最后打印
print('--------------------------------------------------')

res = pd.merge(df1, df2, on = 'coll', how = 'outer', indicator = True)
print(res)
# '''left_only 表示数据来自左表right_only 表示数据来自右表both 表示两个表中都有，也就是匹配上的'''

   coll col_left
0     0        a
1     1        b
--------------------------------------------------
   coll  col_right
0     1          2
1     2          2
2     2          2
--------------------------------------------------
   coll col_left  col_right      _merge
0     0        a        NaN   left_only
1     1        b        2.0        both
2     2      NaN        2.0  right_only
3     2      NaN        2.0  right_only

### 依据 index进行合并

In [5]:
# 依据index合并
# 定义数据集并打印出
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],'B': ['B0', 'B1', 'B2']}, index = ['K0', 'K1', 'K2'])
right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],'D': ['D0', 'D2', 'D3']}, index = ['K0', 'K2', 'K3'])
print(left)
print('---------------------------------')
print(right)
# 依据左右数据集的index进行合并，how='outer'
# 并打印res = pd.merge(left, right, left_index=True, right_index=True, how='outer')
# 依据左右数据集的index进行合并，how='inner',并打印
print('---------------------------------')
res = pd.merge(left, right, left_index = True ,  right_index = True, how = 'inner')
print(res)

print('---------------------------------')
res = pd.merge(left, right, left_index = True ,  right_index = True, how = 'outer')
print(res)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
---------------------------------
     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3
---------------------------------
     A   B   C   D
K0  A0  B0  C0  D0
K2  A2  B2  C2  D2
---------------------------------
      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

### 解决overlapping的问题

In [6]:
# 解决overlapping的问题
# 定义资料集
boys = pd.DataFrame({'k': ['K0', 'K1', 'K2'], 'age': [1, 2, 3]})
girls = pd.DataFrame({'k': ['K0', 'K1', 'K3'], 'age': [4, 5, 6]})

print(boys)
print('---------------------------------')
print(girls)

# 使用suffixes解决overlapping的问题
# 比如将上面两个合并时，age重复了，则可通过suffixes设置，以此保证不重复，不同名（默认会在重名列名后加_x _y）
print('---------------------------------')
res = pd.merge(boys, girls, on='k', suffixes=['_boy', '_girl'], how='inner')
print(res)

print('---------------------------------')
res = pd.merge(boys, girls, on='k', suffixes=['_boy', '_girl'], how='outer')
print(res)

    k  age
0  K0    1
1  K1    2
2  K2    3
---------------------------------
    k  age
0  K0    4
1  K1    5
2  K3    6
---------------------------------
    k  age_boy  age_girl
0  K0        1         4
1  K1        2         5
---------------------------------
    k  age_boy  age_girl
0  K0      1.0       4.0
1  K1      2.0       5.0
2  K2      3.0       NaN
3  K3      NaN       6.0

## pandas apply by pluto

apply可以对dataframe在行或列方向上进行批量化处理,从而大大简化数据处理的过程

### apply函数的基本形式

DataFrame.apply(func, axis=0, broadcast=False, raw=False, reduce=None, args=(), **kwds)<br>
axis = 0 默认为轴 <br>
axis = 1 表示按行进行计算

In [7]:
import pandas as pd
df = pd.DataFrame({'A':[3,1,4,1,5,9,None,6],'B':[1,2,3,None,5,6,7,8]})
d = df.apply(lambda x: x.fillna(x.mean()))
print(df)
print('----------')
print(d)

     A    B
0  3.0  1.0
1  1.0  2.0
2  4.0  3.0
3  1.0  NaN
4  5.0  5.0
5  9.0  6.0
6  NaN  7.0
7  6.0  8.0
----------
          A         B
0  3.000000  1.000000
1  1.000000  2.000000
2  4.000000  3.000000
3  1.000000  4.571429
4  5.000000  5.000000
5  9.000000  6.000000
6  4.142857  7.000000
7  6.000000  8.000000

### apply 写函数来调用

In [8]:
import pandas as pd
import numpy as np 

df = pd.DataFrame({'A':[3,1,4,1,5,9,None,6],'B':[1,2,3,None,5,6,7,8]})
def add(x):
    return x+1
    d = df.apply(add, axis=1)
    
print(df)
print('----------')
print(add(df))

     A    B
0  3.0  1.0
1  1.0  2.0
2  4.0  3.0
3  1.0  NaN
4  5.0  5.0
5  9.0  6.0
6  NaN  7.0
7  6.0  8.0
----------
      A    B
0   4.0  2.0
1   2.0  3.0
2   5.0  4.0
3   2.0  NaN
4   6.0  6.0
5  10.0  7.0
6   NaN  8.0
7   7.0  9.0

In [9]:
import pandas as pd
import numpy as np 

df = pd.DataFrame({'语文':[93,80,85,76,58],'数学':[87,99,95,85,70],'英语':[80,85,97,65,88]}, index=['孙悟空','猪八戒','沙和尚','唐僧','白龙马'] )
print(df)
print('-----------')
df1 = df.loc[
    (
        df['语文'].apply(lambda x:85<=x<100)
    )
    & 
    (
        df['英语'].apply(lambda x:85<=x<100)
    )
    &
    (
        df['数学'].apply(lambda x:85<=x<100)
    )
               
] 

print(df1)

     语文  数学  英语
孙悟空  93  87  80
猪八戒  80  99  85
沙和尚  85  95  97
唐僧   76  85  65
白龙马  58  70  88
-----------
     语文  数学  英语
沙和尚  85  95  97

## pivot函数实现数据透视功能

### pivot_table函数的基本形式

DataFrame.pivot_table(
    self, values = None,
    index = None,
    columns = None, 
    aggfunc = 'mean',
    fill_value = None,
    margins = False, 
    dropna = True, 
    margins_name = 'All', 
    observed = False)

### 透视

In [10]:
import numpy as np
import pandas as pd
df = pd.DataFrame({'brand': ['苹果', '三星', '华为', 'OPPO', '诺基亚', '小米'],'country': ['美国','韩国','中国','中国','美国','中国'],'system': ['OS', 'Android', 'Harmony', 'Android', 'Android', 'Android'],'score': [94.7, 92.8, 96.8, 89.3, 88.4, 91.2]})
df

  brand country   system  score
0    苹果      美国       OS   94.7
1    三星      韩国  Android   92.8
2    华为      中国  Harmony   96.8
3  OPPO      中国  Android   89.3
4   诺基亚      美国  Android   88.4
5    小米      中国  Android   91.2

In [11]:
df.pivot_table(index = 'country')         ### 按country进行分组，默认计算数值列的均值

             score
country
中国       92.433333
美国       91.550000
韩国       92.800000

In [12]:
df.pivot_table(index = 'country',aggfunc = {'score':np.mean,'brand':lambda x : len(x.unique())})
# 按country进行分组,除了计算score均值,另外计算每个国家出现的品牌个数(不重复)

         brand      score
country
中国           3  92.433333
美国           2  91.550000
韩国           1  92.800000

In [13]:
df.pivot_table(index = 'country',columns = 'system',values = 'score')
# 按country进行分组,system作为列名,score作为表中的值(重复的取均值),取对应的数据生成新的表

system   Android  Harmony    OS
country
中国         90.25     96.8   NaN
美国         88.40      NaN  94.7
韩国         92.80      NaN   NaN

In [14]:
df.pivot_table(index = 'country',columns = 'system',values = 'score',aggfunc = [max,min,np.mean],fill_value = 0)
# 统计各个国家手机的最高分 最低分 平均分,空值填充为零

            max                   min                  mean
system  Android Harmony    OS Android Harmony    OS Android Harmony    OS
country
中国         91.2    96.8   0.0    89.3    96.8   0.0   90.25    96.8   0.0
美国         88.4     0.0  94.7    88.4     0.0  94.7   88.40     0.0  94.7
韩国         92.8     0.0   0.0    92.8     0.0   0.0   92.80     0.0   0.0