###### pip install cufflinks plotly

pip install chart_studio

In [1]:
import chart_studio
chart_studio.tools.set_credentials_file(username = 'RLACKDDYD',api_key = 'CM9KxlmMBOjZnp1oVj6S')

import chart_studio
chart_studio.tools.set_config_file(world_readable = False,
                                  sharing = 'private')
import chart_studio.plotly as py
import plotly.graph_objs as go
from plotly.offline import iplot ,init_notebook_mode

import cufflinks

In [2]:
import pandas as pd 
import numpy as np

df = pd.read_excel(r"C:\Users\jinchanglong\Desktop\team.xlsx")
display(df)

        name team  Q1  Q2  Q3  Q4
0      Liver    E  89  21  24  64
1       Arry    C  36  37  37  57
2        Ack    A  57  60  18  84
3      Eorge    C  93  96  71  78
4        Oah    D  65  49  61  86
..       ...  ...  ..  ..  ..  ..
95   Gabriel    C  48  59  87  74
96   Austin7    C  21  31  30  43
97  Lincoln4    C  98  93   1  20
98       Eli    E  11  74  58  91
99       Ben    E  21  43  41  74

[100 rows x 6 columns]

###### 柱状图和箱型图

###### 柱状图

In [3]:
df['Q1'].iplot(kind = 'hist',        ### 对象是标准的 PANDAS DATAFRAME
                 xTitle = 'Q1',
                 yTitle = 'count',
                 title = 'team\'s count')

###### 堆叠柱状图

In [4]:
df[['Q1','Q2']].iplot(
kind = 'hist',
histnorm = 'percent',
barmode = 'overlay',
xTitle = 'Q1',
yTitle = 'count',
title = 'team\'s count')

###### 箱型图

In [5]:
df.pivot(columns = 'Q1' , values = 'Q2').iplot(
kind = 'box')
# yTitle = 'Q1',
# title = 'box - Q1')

###### 时间序列分析

In [6]:
df2 = pd.read_excel(r"C:\Users\jinchanglong\Desktop\3233.xlsx")
display(df2)

    半成品分类        收率         时间
0   阴极[A]  0.997947 2021-06-01
1   阴极[A]  0.995528 2021-06-02
2   阴极[A]  0.983426 2021-06-03
3   阴极[A]  0.996869 2021-06-04
4   阴极[A]  0.995899 2021-06-05
..    ...       ...        ...
58  阳极[C]  0.991480 2021-07-29
59  阳极[C]  0.970235 2021-07-30
60  阳极[C]  0.978804 2021-07-31
61  阳极[C]  0.942701 2021-08-01
62  阳极[C]  1.014161 2021-08-02

[63 rows x 3 columns]

In [7]:
df2[['半成品分类','收率','时间']].iplot(
x = '时间',
y = '半成品分类',
mode = 'lines + markers',
secondary_y = '收率')
# secondary_y_title = 'Word Count',
# opacity = 0.8,
# size = 8,
# symbol = 1)
# xTitle = '时间',
# yTitle = '半成品分类',
# text = '半成品分类',
# title = 'whatever')

###### 带有文本注释

In [20]:
df2.iplot(
mode = 'lines + markers + text',
text = '半成品分类',
y = '时间',
opacity = 0.8)

In [21]:
df2.iplot(
x = '时间',
y = '收率',

categories = '半成品分类')   ### 按照半成品分类区分颜色

C:\ProgramData\Anaconda3\lib\site-packages\cufflinks\plotlytools.py:807: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

C:\ProgramData\Anaconda3\lib\site-packages\cufflinks\plotlytools.py:810: FutureWarning:

The pandas.np module is deprecated and will be removed from pandas in a future version. Import numpy directly instead

###### 对数坐标轴

In [25]:
df2.iplot(
x = '时间',
y = '收率',
text = '半成品分类',
mode = 'markers',

layout = dict(
xaxis = dict(type = 'log',title = 'count'),
yaxis = dict(title = 'Reads'),
title = 'Reads')
)