### Python Assigning values in lists

In [1]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5, 6, 7 ]
print("list1[0]: ", list1[0])
print("list2[1:5]: ", list2[1:5])

list1[0]:  physics
list2[1:5]:  [2, 3, 4, 5]

### Python Updating lists

In [2]:
list = ['physics', 'chemistry', 1997, 2000];
print("Value available at index 2 : ")
print(list[2])
list[2] = 2001
print("New value available at index 2 : ")
print(list[2])
print(list)

Value available at index 2 :
1997
New value available at index 2 :
2001
['physics', 'chemistry', 2001, 2000]

### Python Delete list elements

In [3]:
list1 = ['physics', 'chemistry', 1997, 2000]
print(list1)
del list1[2]
print("After deleting value at index 2 : ")
print(list1)

['physics', 'chemistry', 1997, 2000]
After deleting value at index 2 :
['physics', 'chemistry', 2000]

### Python List len()

In [4]:
list1, list2 = [123, 'xyz', 'zara'], [456, 'abc']
print("First list length : ", len(list1))
print("Second list length : ", len(list2))

First list length :  3
Second list length :  2

### Python List max()

In [5]:
list1, list2 = ['123','xyz', 'zara', 'abc'], [456, 700, 200]
print("Max value element : ", max(list1))
print("Max value element : ", max(list2))

Max value element :  zara
Max value element :  700

### Python List min()

In [6]:
list1, list2 = ['123', 'xyz', 'zara', 'abc'], [456, 700, 200]
print("min value element : ", min(list1))
print("min value element : ", min(list2))

min value element :  123
min value element :  200

### Python List list()

In [2]:
tuple11 = ('come','bane','s753',1996,15552)
print(tuple11)
list11 = list(tuple11)
 
print("列表元素 : ")
print(list11)

('come', 'bane', 's753', 1996, 15552)
列表元素 :
['come', 'bane', 's753', 1996, 15552]

### Python List append()

In [29]:
aList = [123, 'xyz', 'zara', 'abc']
aList.append( 2009 )
print("Updated List : ", aList)

Updated List :  [123, 'xyz', 'zara', 'abc', 2009]

### Python List count()

In [32]:
aList = [123, 'xyz', 'zara', 'abc', 123]
print("Count for 123 : ", aList.count(123))
print("Count for zara : ", aList.count('zara'))

Count for 123 :  2
Count for zara :  1

### Python List extend()

In [33]:
aList = [123, 'xyz', 'zara', 'abc', 123];
bList = [2009, 'manni']
aList.extend(bList)
print("Extended List : ", aList)

Extended List :  [123, 'xyz', 'zara', 'abc', 123, 2009, 'manni']

### Python List index()

In [34]:
aList = [123, 'xyz', 'zara', 'abc']
print("Index for xyz : ", aList.index('xyz'))
print("Index for zara : ", aList.index('zara'))

Index for xyz :  1
Index for zara :  2

### Python List insert()

In [35]:
aList = [123, 'xyz', 'zara', 'abc']
aList.insert(3, 2009)         ### 在位置3 插入 2009
print("Final List : ", aList)

Final List :  [123, 'xyz', 'zara', 2009, 'abc']

### Python List pop()

In [36]:
aList = [123, 'xyz', 'zara', 'abc']    ### pop() 函数用于移除列表中的一个元素（默认最后一个元素），并且返回该元素的值
print("A List : ", aList.pop())        ### 默认为 index=-1，删除最后一个列表值
print("B List : ", aList.pop(2))

A List :  abc
B List :  zara

### Python List remove()

In [37]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz']
aList.remove('xyz')
print("List : ", aList)
aList.remove('abc')
print("List : ", aList)

List :  [123, 'zara', 'abc', 'xyz']
List :  [123, 'zara', 'xyz']

### Python List reverse()

In [38]:
aList = [123, 'xyz', 'zara', 'abc', 'xyz']
aList.reverse()
print("List : ", aList)

List :  ['xyz', 'abc', 'zara', 'xyz', 123]

### Python List sort()

In [40]:
aList = ['123', 'xyz', 'zara', 'abc', 'xyz']
aList.sort()
print("List : ", aList)

List :  ['123', 'abc', 'xyz', 'xyz', 'zara']