### Python Assigning values to tuples

In [1]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5, 6, 7 )
print("tup1[0]: ", tup1[0])
print("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

### Python Updating tuples

In [2]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');

# Following action is not valid for tuples
# tup1[0] = 100;

# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print(tup3)

(12, 34.56, 'abc', 'xyz')

### Python Deleting tuple

In [7]:
tup = ('physics', 'chemistry', 1997, 2000)
print(tup)
del tup
print("After deleting tup : ")

try:
    print(tup)
except NameError:
    print("NameError: name 'tup' is not defined")

('physics', 'chemistry', 1997, 2000)
After deleting tup :
NameError: name 'tup' is not defined

### Python Tuple len()

In [9]:
tuple1, tuple2 = (123, 'xyz', 'zara'), (456, 'abc')
print("First tuple length : ", len(tuple1))
print("Second tuple length : ", len(tuple2))

First tuple length :  3
Second tuple length :  2

### Python tuple max()

In [11]:
tuple1, tuple2 = ('123', 'xyz', 'zara', 'abc'), (456, 700, 200)
print("Max value element : ", max(tuple1))
print("Max value element : ", max(tuple2))

Max value element :  zara
Max value element :  700

### Python tuple min()

In [12]:
tuple1, tuple2 = ('123', 'xyz', 'zara', 'abc'), (456, 700, 200)
print("min value element : ", min(tuple1))
print("min value element : ", min(tuple2))

min value element :  123
min value element :  200

### Python tuple tuple()

In [13]:
temp_list = [1,2,3,4,5]
print(temp_list)
print(type(temp_list))
a = tuple(temp_list)    #将temp_list进行强制转换
print(a)
print(type(a))          #查看是否转换成功

[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>